<h1>Enter the name of the Topic</h1>
<input type="text" id="topicNameInput" placeholder="Enter the name of the Topic">
<button id="saveButton">Save</button>

<div id="topicList">
<!-- Names will be displayed here -->
</div>

<script src="/javascripts/createTopic.js"></script>