<h1>Processors</h1>

<div id="section-nodes" class="section">
  <div class="ti-cores">
    <div class="ti-core">
      <div class="ti-core-top">
        <div class="ti-core-top-img"><img src="img/proc.jpg" /></div>
        <div class="ti-core-top-txt">AM64x Core 0</div>
        <div class="ti-core-top-led"><img
            id="core0-node-alive"
            src="img/led-grey.jpg"
          /></div>
      </div>
      <div class="ti-features">
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Measures</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core0-feat-meas"
              name="Measures"
              value="Measures"
            />
          </div>
        </div>
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Control</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core0-feat-ctrl"
              name="Control"
              value="Control"
            />
          </div>
        </div>
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Alive (test)</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core0-feat-test"
              name="Test"
              value="Test"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ti-core">
      <div class="ti-core-top">
        <div class="ti-core-top-img"><img src="img/proc.jpg" /></div>
        <div class="ti-core-top-txt">AM64x Core 1</div>
        <div class="ti-core-top-led"><img
            id="core1-node-alive"
            src="img/led-grey.jpg"
          /></div>
      </div>
      <div class="ti-features">
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Measures</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core1-feat-meas"
              name="Measures"
              value="Measures"
            />
          </div>
        </div>
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Control</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core1-feat-ctrl"
              name="Control"
              value="Control"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ti-core">
      <div class="ti-core-top">
        <div class="ti-core-top-img"><img src="img/proc.jpg" /></div>
        <div class="ti-core-top-txt">AM64x Core 2</div>
        <div class="ti-core-top-led"><img
            id="core2-node-alive"
            src="img/led-grey.jpg"
          /></div>
      </div>
      <div class="ti-features">
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Measures</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core2-feat-meas"
              name="Measures"
              value="Measures"
            />
          </div>
        </div>
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Control</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core2-feat-ctrl"
              name="Control"
              value="Control"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ti-core">
      <div class="ti-core-top">
        <div class="ti-core-top-img"><img src="img/proc.jpg" /></div>
        <div class="ti-core-top-txt">AM64x Core 3</div>
        <div class="ti-core-top-led"><img
            id="core3-node-alive"
            src="img/led-grey.jpg"
          /></div>
      </div>
      <div class="ti-features">
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Measures</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core3-feat-meas"
              name="Measures"
              value="Measures"
            />
          </div>
        </div>
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Control</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="core3-feat-ctrl"
              name="Control"
              value="Control"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ti-core">
      <div class="ti-core-top">
        <div class="ti-core-top-img"><img src="img/linux.png" /></div>
        <div class="ti-core-top-txt">A53</div>
        <div class="ti-core-top-led"><img
            id="a53-node-alive"
            src="img/led-grey.jpg"
          /></div>
      </div>
      <div class="ti-features">
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Measures</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="a53-feat-meas"
              name="Measures"
              value="Measures"
            />
          </div>
        </div>
        <div class="ti-features-line">
          <div class="ti-features-line-txt">Control</div>
          <div class="ti-features-line-cmd">
            <input
              type="checkbox"
              id="a53-feat-ctrl"
              name="Control"
              value="Control"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/processors.js"></script>