<html>
  <head>
    <title>Middleware Topics</title>
  </head>
  <body>
    <h1>Middleware Topics</h1>
    <ul>
      {{#each topics}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>