<h1>Topics</h1>

{{#each topics}}
  <div class="topic-box">
    <h2>{{this.name}}</h2>
    <div class="message-box">
      <ul class="message-list">
        {{#each this.messages}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{#if @indexIsOdd}}
    <div class="clearfix"></div>
  {{/if}}
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/topicsVisualization.js"></script>