<h1>Create Topics</h1>

<form method="POST" action="/createTopic">
  <label for="topic">Enter Topic Name:</label>
  <input type="text" id="topic" name="topic" placeholder="Topic Name" />
  <button type="submit">Create</button>
</form>

<h2>Existing Topics:</h2>
<ul>
  {{#each topics}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>