<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Monitor</title>
  </head>
  <body>
    <h1>File Content</h1>
    <pre id="file-content"></pre>

    <!-- Include the Socket.io client library -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Include your custom client.js script -->
    <script src="/scripts/client.js"></script>
  </body>
</html>