/* Title */
.title-line {
  clear: both;
  display: block;
  margin: 10px 1% 10px 1%;
  overflow: hidden;
  width: 96%;
}
.title-line-img {
  float: left;
  width: 20%;
}
.title-line-img img{
  max-width: 80px;
}
.title-line-txt{
  float: left;
  width: 80%;
  font-weight: bold;
  font-size: 200%;
  padding-top: 20px;
}
/* Sections generic */
.section {
  clear: both;
  width: 100%;
}
.section-hidden {
  display: none;
}
/* TI cores */
.ti-cores {
  clear: both;
  display: block;
  margin: 10px 1%;
  width: 98%;
}
.ti-core {
  border: 1px solid #a9a9a9;
  display: block;
  float: left;
  margin: 0 0.5%;
  width: 18%;
}
.ti-core-top {
  border-bottom: 1px solid #a9a9a9;
  min-height: 50px;
  margin: 10px 2%;
  width: 96%;
}
.ti-core-top-img
{
  float: left;
  margin-left: 1%;
  width: 19%;
}
.ti-core-top-img img {
  width: 100%;
}
.ti-core-top-txt
{
  float: left;
  font-weight: bold;
  margin-left: 1%;
  padding-top: 10px;
  text-align: center;
  width: 69%;
}
.ti-core-top-led {
  float: left;
  padding-top: 10px;
  width: 9%;
}
.ti-core-top-led img {
  width: 100%;
}
/* Processor features*/
.ti-features {
  width: 100%;
}
.ti-features-line {
margin: 0 2%;
width: 96%;
}
.ti-features-line-txt {
float: left;
margin-left: 1%;
text-align: left;
width: 79%;
}
.ti-features-line-cmd {
float: right;
margin-right: 1%;
width: 19%;
}

/* Menu */
.topnav {
  background-color: #a9a9a9;
  clear: both;
  display: block;
  overflow: hidden;
}
.topnav div {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav div:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
.topnav-active {
  background-color: #2d3175;
  color: white;
}
.topnav .icon {
  display: none;
}

/* CSS styles for the topic and message boxes */
.topic-box {
  width: 45%; /* Adjust as needed */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  float: left;
}

.message-box {
  height: 200px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-list li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Clear floats to ensure rows of two boxes */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Sidebar Styles */
.sidebar {
  background-color: #333; /* Background color of the sidebar */
  color: #FFF; /* Text color */
  width: 250px; /* Width of the sidebar */
  height: 100%; /* Make the sidebar full height */
  position: fixed;
  top: 0;
  left: 0; /* Start with the sidebar on-screen */
  transition: transform 0.3s ease-in; /* Smooth transition for sliding in/out */
  overflow-y: auto; /* Add vertical scrollbar if the content overflows */
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2); /* Optional shadow */
  z-index: 1; /* Ensure sidebar is above other content */
}

/* Menu Styles */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px 0;
  border-bottom: 1px solid #333; /* Separator line between menu items */
}

.menu li:last-child {
  border-bottom: none; /* Remove the separator line for the last item */
}

.menu a {
  color: #FFF; /* Text color for menu items */
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s; /* Smooth background color change on hover */
}

.menu a:hover {
  background-color: #333; /* Background color on hover */
}

/* Toggle Button Style */
.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
  color: #FFF; /* Button color */
  font-size: 24px; /* Adjust the size as needed */
}


/* Content Styles */
.content {
  margin-left: 250px; /* Adjust this to match the width of your sidebar */
  padding: 20px; /* Add padding for spacing */
}

/* Example styles for headings and paragraphs */
.content h1 {
  font-size: 24px;
  color: #333;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

/* Example style for a button */
.content .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s; /* Smooth background color change on hover */
}

.content .button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

/* Other content-specific styles can be added here */
